html{
  font-size: 62.5%
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root{
  height: 100%
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5 rem;
}

.header{
  height: 70px;
  grid-area: header;
  background-color: #fdd716;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}

.brand a{
  color: #ffffff;
  font-size: 2.5 rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a{
  color:#ec6447;
  text-decoration: none;
}

.header-links a:hover{
  color:#ec6447;
}

.main{
  grid-area: main;
  padding: 40px;
  overflow: auto;
  padding-bottom: 100px;
}

.footer{
  background-color: #ec6447;
  position: fixed;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* height: 100%; */
  padding: 10px;
  clear:both;
  left: 0;
  bottom: 0;
  width: 100%;
}

a{
  text-decoration: none;
}

a:hover{
  color: whitesmoke
}

.households {
  display: flex;
}

.household li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1 rem;
  height: 50 rem;
  border-bottom: .1rem;
}

.household{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profile-info main{
  position: relative;
}

.details{
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  padding-left: 40px;
  /* border: black;
  border-radius: 0.5 rem; */
}

.details-info{
  flex: 1 1 30 rem;  
}


.details-action{
  flex: 1 1 30 rem;
  padding-right: 100px;
  
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0
}

.details-info li, .details-action li{
  margin-bottom: 1 rem;
}


.pending{
  padding-left: 20px;
  border: .1rem #808080 solid;
  border-radius: 0.5 rem;
  padding: 1 rem;
  justify-content: center;
}

.head-title{
  text-align: center;
}


.button{
  padding: 1 rem;
  border: .1 rem #808080 solid;
  cursor: pointer;
}